@import '_common'

body
	background   : white
	font         : $body_font
	padding-left : 11.5em

code
	round_corners(2px)
	border     : 1px solid $code_bg - 10%
	background : $code_bg
	padding    : 0px 2px
	font       : $code_font

a[href]
	text-decoration : none
	color           : blue

	&:hover
		text-decoration : underline
		color           : red

pre
	round_corners(2px)
	border     : 1px solid $code_bg - 10%
	background : $code_bg
	padding    : 4px 7px

	code
		background : none
		border     : none
		padding    : none

textarea
	&#textarea, &.example
		width : 400px

nav
	border_box()
	position   : fixed
	left       : 0
	top        : 0
	bottom     : 0
	width      : 11em
	background : #eee
	padding    : 1em
	overflow-y : auto
	overflow-x : hidden

	h2
		margin : 0 0 .4em 0

	h3
		margin : 0
		font-size : 1em

	section.api
		ul
			margin-left : .5em

	ul
		list-style-type : none
		padding         : 0
		margin          : 0 0 1em 0

		li
			padding : 0

#api
	h3
		margin     : 3em 0 1em -1em
		padding    : .4em 1em
		font-size  : 1.3em
		background : #eee

	h4
		font           : $code_font
		font-size      : 1.3em
		padding-bottom : .3em
		margin         : 0

		.default
			font-weight: normal
			color: silver

		.param
			cursor : pointer
	
	section > div
		margin-bottom : 3em

		p
			margin : 0 0 1em 0

	ul.params
		margin          : 0 0 1em 1em
		padding-left    : 1.5em
		list-style-type : none
		padding         : 0

		li
			margin : 0

			&.highlight
				background : yellow

			code
				&.type, &.var
					font-weight : bold
					background  : none
					border      : none

			p
				margin : 0
	
	#examples
		ul
			padding         : 0
			list-style-type : none
			margin          : 0

#toc
	margin-top : 2em

	.block
		border_box()
		float : left

		h4
			margin        : 0
			padding       : 0
			font          : $body_font
			font-size     : 1.2em
			border-bottom : 1px solid black

		ul
			list-style-type : none
			padding         : 0
			margin          : .5em 0 0 0
			font            : $code_font
			font-size       : 0.7em

#example
	.output
		display : inline

em
	font-weight : bold
	color       : green

.announcement
	round_corners(3px)
	vendor('margin-before', 1em)
	vendor('margin-after', 1em)
	font-size  : 1.1em
	background : yellow
	border     : 1px solid yellow - 10%
	padding    : .5em 1em

form
	&#download
		.files
			font  : $code_font
			color : silver

	&#purchase
		.price
			font-weight : bold

		#total
			.value
				color : silver

			font-size   : 1.3em
			font-weight : bold
			margin      : 1em 0 

	ul
		list-style-type : none
		padding         : 0
		margin          : 0

		li
			margin-bottom : .5em
	
	button
		round_corners(3px)
		font-size  : 1em
		padding    : .5em .7em
		background : black
		color      : white
		border     : none
		cursor     : pointer
