.form-table {
	form {
		&.form-stacked {
			background   : red !important;
			padding-left : 0px;

			.actions {
				margin-left : auto;
			}
		}

		label {
			span {
				font-size   : 120%;
				margin-left : 10px;
			}
		}

		.price {
			font-size   : 120%;
			font-weight : bold;
			text-align  : center;
		}

	}

	.actions {
		padding-left : 30px;

		#total {
			float       : left;
			font-weight : bold;
			font-size   : 23px;
			padding     : 7px 14px 9px 0;
			color       : black;

			strike {
				color : gray;
			}
		}
	}
}
