@import "../../vendor/bootstrap/lib/bootstrap.less";
@import "masthead.less";
@import "form.less";
@import "api.less";

h1, h2, h3 {
	font-family: Rosario, Helvetica, Arial, sans;
}

body {
	margin-top: 50px;
}

pre {
	code {
		background : none;
	}
}

nav {
	position : fixed;
}


