@import "../../vendor/bootstrap/lib/bootstrap.less";

body {
	margin-top: 50px;
}

pre {
	code {
		background : none;
	}
}

#api {
	#toc {
		.page-header {
			margin-bottom: 5px;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type : none;
			
			li {
				font-family: Monaco, Andale Mono, Courier New, monospace;
				font-size: 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}
