---
layout : default
group  : Autocomplete
title  : Basics
sort   : autocomplete_01
tags   : [ example ]
---

extends example

block notes

block title
  != document.title

block example_coffee
  != getExample(document.basename).source

block example_javascript
  != getExample(document.basename).contentRenderedWithoutLayouts
