section.example
  h3: block title

  block notes

  block example
    #example

  script(type='text/example')
    block example_coffee

  pre.js
    block example_javascript

  pre.coffee
    block example_coffee
