---
layout : default
group  : Tags
title  : With Autocomplete
sort   : tags_02
tags   : [ example ]
---

extends example

block notes

block title
  != document.title

block example_coffee
  != getExample(document.basename).source

block example_javascript
  != getExample(document.basename).contentRenderedWithoutLayouts
