@import "./vendor/bootstrap/less/reset.less";
@import "./vendor/bootstrap/less/variables.less";
@import "./vendor/bootstrap/less/mixins.less";
@import "./vendor/bootstrap/less/scaffolding.less";
@import "./vendor/bootstrap/less/grid.less";
@import "./vendor/bootstrap/less/layouts.less";
@import "./vendor/bootstrap/less/type.less";
@import "./vendor/bootstrap/less/hero-unit.less";
@import "./vendor/bootstrap/less/navs.less";
@import "./vendor/bootstrap/less/navbar.less";
// @import "./vendor/bootstrap/less/wells.less";
// @import "./vendor/bootstrap/less/buttons.less";

body {
  padding-top: 10px;
}

nav {
  position: fixed;
}

section.example {
  pre {
    margin-top  : 10px;
    font-size   : 11px;
    line-height : normal;

    &.js {
      display : none;
    }
  }
}
