---
layout : default
title  : Home
---

.hero-unit
  h1 Rock On!

for example in getCollection('examples').toJSON()
  section.example(id=example.slug)
    h3: a(name=example.slug)= example.title
    != example.contentRenderedWithoutLayouts
