{% capture debug %}false{% endcapture %}
{% capture version %}1.3.1{% endcapture %}
{% capture wallet_id %}18i2kGxBVtoZMjdp5BLATweT6pYXkgwRMt{% endcapture %}

{% capture Filter %}[Filter](/manual/plugins/filter.html){% endcapture %}
{% capture Focus %}[Focus](/manual/plugins/focus.html){% endcapture %}
{% capture Prompt %}[Prompt](/manual/plugins/prompt.html){% endcapture %}
{% capture Suggestions %}[Suggestions](/manual/plugins/suggestions.html){% endcapture %}
{% capture Autocomplete %}[Autocomplete](/manual/plugins/autocomplete.html){% endcapture %}
{% capture Tags %}[Tags](/manual/plugins/tags.html){% endcapture %}

{% capture getSuggestions %}.bind('getSuggestions', function(e, data)
		{
			var list = [
					'Basic',
					'Closure',
					'Cobol',
					'Delphi',
					'Erlang',
					'Fortran',
					'Go',
					'Groovy',
					'Haskel',
					'Java',
					'JavaScript',
					'OCAML',
					'PHP',
					'Perl',
					'Python',
					'Ruby',
					'Scala'
				],
				textext = $(e.target).textext()[0],
				query = (data ? data.query : '') || ''
				;

			$(this).trigger(
				'setSuggestions',
				{ result : textext.itemManager().filter(list, query) }
			);
		}){% endcapture %}

{% capture getSuggestionsRtl %}.bind('getSuggestions', function(e, data)
        {
            var list = [
                    'בייסיק - Basic',
                    "קלוז'ור - Closure",
                    'קובול - Cobol',
                    'דלפי - Delphi',
                    'ארלנג - Erlang',
                    'פורטרן - Fortran',
                    'גו - Go',
                    'גרובי - Groovy',
                    'הסקל - Haskel',
                    "ג'אווה - Java",
                    "ג'אווהסקריפט - JavaScript",
                    'אוקמל - OCAML',
                    'פהפ - PHP',
                    'פרל - Perl',
                    'פייטון - Python',
                    'רובי - Ruby',
                    'סקלה - Scala'
                ],
                textext = $(e.target).textext()[0],
                query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }){% endcapture %}