{% capture Filter %}[Filter](/manual/plugins/filter/){% endcapture %}
{% capture Focus %}[Focus](/manual/plugins/focus/){% endcapture %}
{% capture Prompt %}[Prompt](/manual/plugins/prompt/){% endcapture %}
{% capture Suggestions %}[Suggestions](/manual/plugins/suggestions/){% endcapture %}
{% capture Autocomplete %}[Autocomplete](/manual/plugins/autocomplete/){% endcapture %}
{% capture Tags %}[Tags](/manual/plugins/tags/){% endcapture %}

{% capture getSuggestions %}.bind('getSuggestions', function(e, data)
		{
			var list = [
					'Basic',
					'Closure',
					'Cobol',
					'Delphi',
					'Erlang',
					'Fortran',
					'Go',
					'Groovy',
					'Haskel',
					'Java',
					'JavaScript',
					'OCAML',
					'PHP',
					'Perl',
					'Python',
					'Ruby',
					'Scala'
				],
				textext = $(e.target).textext()[0]
				;

			$(this).trigger(
				'setSuggestions',
				{ result : textext.itemManager().filter(list, data.query) }
			);
		}){% endcapture %}
