{% capture Filter %}[Filter](/manual/plugins/filter/){% endcapture %}
{% capture Focus %}[Focus](/manual/plugins/focus/){% endcapture %}
{% capture Prompt %}[Prompt](/manual/plugins/prompt/){% endcapture %}
{% capture Suggestions %}[Suggestions](/manual/plugins/suggestions/){% endcapture %}
{% capture Autocomplete %}[Autocomplete](/manual/plugins/autocomplete/){% endcapture %}
{% capture Tags %}[Tags](/manual/plugins/tags/){% endcapture %}

{% capture getSuggestions %}.bind('getSuggestions', function(e, data)
		{
			var list = [
					'JavaScript',
					'Java',
					'PHP',
					'Ruby',
					'Python',
					'Closure',
					'Delphi',
					'Perl',
					'OCAML',
					'Erlang',
					'Scala',
					'Haskel',
					'Groovy',
					'Fortran',
					'Basic',
					'Cobol',
					'Go'
				],
				result = [],
				query = data.query.toLowerCase()
			;

			list.sort();

			if(query == '')
				result = list.slice();
			else
				for(var i = 0; i < list.length; i++)
					if(list[i].toLowerCase().indexOf(query) == 0)
						result.push(list[i]);

			$(this).trigger('setSuggestions', { result : result });
		}){% endcapture %}
