<div id="donate-alert" class="container">
	<div class="alert alert-info">
		<h4 class="alert-heading">Hey awesome developer!</h4>
		<p>
			My name is Alex Gorbatchev, I wrote TextExt.js. It took me literally months to write and document this 
			jQuery plugin for you. Do you like coffe, beer and dohunts? So do I! Buy me one, two or a case and show
			that you care and encourage further development!
		</p>
		<form id="donate-form" method="post" action="https://www.paypal.com/cgi-bin/webscr">
			<input type="hidden" name="cmd" value="_s-xclick"/>
			<input type="hidden" name="hosted_button_id" value="TBJLSNWZN6DL6"/>
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="position: absolute; top: 0; left: 0"/>

			<div class="btn-group btn-big">
				<label class="btn">Be awesome - support TextExt!</label>
				<input type="submit" class="btn btn-primary" value="PayPal"/>
				<a class="btn btn-primary" href="/donate_bitcoin.html" style="font-weight: normal;">BitCoint</a>
			</div>
		</form>
	</div>
</div>
