<!DOCTYPE html>
{% include common.html %}
<html>
	<head>		
		<title>jQuery TextExt Plugin{% if page.title != '' %} - {{ page.title }}{% endif %}</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

		<link rel="stylesheet" href="/css/main.css" type="text/css" />

		<script src="/js/jquery-1.6.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/doc.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/textext-1.1.0.js" type="text/javascript" charset="utf-8"></script>
		<!--
		<link rel="stylesheet" href="/textext/css/textext.core.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.tags.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.autocomplete.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.focus.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.prompt.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.arrow.css" type="text/css" />
		<script src="/textext/js/textext.core.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.tags.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.suggestions.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.filter.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.focus.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.prompt.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/js/textext.plugin.arrow.js" type="text/javascript" charset="utf-8"></script>
		-->
	</head>
	<body data-section="{% if page.section %}{{ page.section }}{% else %}{{ section }}{% endif %}">
		<div class="topbar-wrapper">
			<div class="topbar">
				<div class="topbar-inner">
					<div class="container">
						<h3><a href="/">jQuery TextExt {{ version }}</a></h3>
						<ul class="nav" id="nav">
							<li class="manual"><a href="/manual/index.html">Manual</a></li>
							<li class="examples"><a href="/manual/examples.html">Examples</a></li>
							<li class="donate"><a href="/donate.html">Donate</a></li>
							<li class="download"><a href="/download.html">Download</a></li>
							<li class="contact"><a href="/contact.html">Contact</a></li>
						</ul>
						<ul class="nav secondary-nav">
							<li><a href="https://twitter.com/#!/TextExtJs">@TextExtJs</a></li>
							<li><a href="https://github.com/alexgorbatchev/jquery-textext/issues">Issues</a></li>
							<li><a href="https://github.com/alexgorbatchev/jquery-textext">GitHub</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

