<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>		
		<title>TextExt - {{ page.title }}</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
		<script src="/js/jquery-1.6.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/doc.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" href="/textext/css/textext.core.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.tags.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.autocomplete.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.focus.css" type="text/css" />
		<link rel="stylesheet" href="/textext/css/textext.plugin.prompt.css" type="text/css" />
		<script src="/textext/textext.core.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.tags.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.suggestions.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.filter.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.focus.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.prompt.js" type="text/javascript" charset="utf-8"></script>
		<script src="/textext/textext.plugin.ajax.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>


