{{ intro | markdownify }}

<h4>Live Demo</h4>

{{ example_textarea }}
{{ example_script }}

<h4>Textarea Content</h4>

<p class="hint">This is the data that the original text input is populates with
and which will be submitted with the form.</p>
<pre id="output"></pre>

<script>
var textarea = $('#textarea'),
	output   = $('#output')
	;

output.val('');

textarea.bind('setFormData', function(e, data, isEmpty)
{
	var textext = $(e.target).textext()[0];
	$('#output').text(textext.getFormData());
});
</script>

<h4>Source</h4>

<p class="hint">This is the original input HTML.</p>
<pre class="brush: html">
{{ example_textarea | escape}}
</pre>

<p class="hint">This is the JavaScript source that was used to initialize this demo
instance of TextExt.</p>
<pre class="brush: js; html-script: true">
{{ example_script | escape }}
</pre>

