<nav id="side-nav">
	<section class="api">
		<h3>Core</h3>
		<ul>
			<li id="nav-textext"><a href="/manual/textext.html">TextExt</a></li>
			<li id="nav-options"><a href="/manual/options.html">Options</a></li>
			<li id="nav-plugin"><a href="/manual/plugin.html">Plugin</a></li>
			<li id="nav-itemmanager"><a href="/manual/itemmanager.html">ItemManager</a></li>
			<li id="nav-itemvalidator"><a href="/manual/itemvalidator.html">ItemValidator</a></li>
		</ul>
	</section>

	<section class="api">
		<h3>Plugins</h3>
		<ul>
			{% for item in site.pages %}
				{% if item.plugin %}
					<li id="nav-{{ item.id }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>

	<section id="toc"></section>
</nav>

&nbsp;
