<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><%= @Document.title %></title>

	<meta name="author" content="Alex Gorbatchev" />
	<meta name="title" content="<%= @Document.title %>" />
	<meta name="description" content="" />
	<meta name="keywords" content=""/>

	<link rel="stylesheet" href="/css/main.css" type="text/css" />
	<meta name="viewport" content="width=device-width">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

	<link rel="stylesheet" href="/textext/css/textext.core.css" type="text/css" />
	<link rel="stylesheet" href="/textext/css/textext.plugin.tags.css" type="text/css" />
	<link rel="stylesheet" href="/textext/css/textext.plugin.autocomplete.css" type="text/css" />
	<script src="/textext/textext.core.js" type="text/javascript" charset="utf-8"></script>
	<script src="/textext/textext.plugin.tags.js" type="text/javascript" charset="utf-8"></script>
	<script src="/textext/textext.plugin.autocomplete.js" type="text/javascript" charset="utf-8"></script>

	<style>
		textarea.example {
			width: 300px;
		}
	</style>
</head>

<body id="page-<%= @Document.slug %>">
	<div id="main">
		<header id="header">
			<a href="/">Alex Gorbatchev</a>
		</header>

		<div id="content" class="content">
			<%- @content %>
		</div>

		<footer id="footer">
		</footer>
	</div>
</body>

</html>
