---
layout  : example
title   : Example
link    : Tags with code
example : tags api
id      : tags-adding-directly
---
{% include common.html %}

{% capture intro %}
This example shows how to add tags to the {{ Tags }} plugin using code.
{% endcapture %}

{% capture extras %}
<style>
#add_controls { margin-top : 20px; }
#add_controls button { margin-bottom : 9px; }
</style>
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>

<div id="add_controls">
    <input type="text" id="tagname" placeholder="tag name" />
    <button class="btn">Click to add tag</button>
</div>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins : 'tags'
    });

$('#add_controls button').bind('click', function(e)
{
    var input   = $('#add_controls > :text'),
        textext = $('#demo_input').textext()[0]
        ;

    textext.tags().addTags([ input.val() ]);
    input.val('');
});
{% endcapture %}

{% include live_demo.html %}

