---
layout  : example
title   : Example
link    : Tags with Events
example : tags events
id      : tags-with-evemts
---
{% include common.html %}

{% capture intro %}
This example shows how to react to events fired by the {{ Tags }} plugin.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins : 'tags'
    })
    .on('tagClick', function(e, node, item, tagClickCallback)
    {
        alert('You clicked on `' + item + '`. It will be changed to `new: ' + item + '`');
        tagClickCallback('new: ' + item);
    })
    .on('tagAdd', function(e, nodes, items)
    {
        alert('You added `' + items.join(', ') + '`');
    })
    .on('tagRemove', function(e, item)
    {
        alert('You removed `' + item + '`');
    })
    ;
{% endcapture %}

{% include live_demo.html %}

