---
layout  : example
title   : Example
link    : Focus
example : focus
id      : focus
---
{% include common.html %}

{% capture intro %}
To see the effect of the {{ Focus }} plugin, click in and out of the text input field. You should be seeing a pleasant effect.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins : 'focus'
    });
{% endcapture %}

{% include live_demo.html %}
