---
layout  : example
title   : AJAX Item Manager with Autocomplete
example : autocomplete itemmanager ajaxitemmanager
id      : ajaxitemmanager-with-autocomplete
---
{% include common.html %}

{% capture intro %}
This example shows how to use {{ AjaxItemManager }} with {{ Autocomplete }}.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
<script type="text/javascript">
/* data.json
{% include data.json %}
*/

	$('#demo_input')
		.textext({
			plugins     : 'autocomplete',
			itemManager : 'ajax',
			ajax        : {
				url          : '/manual/examples/data.json',
				dataType     : 'json',
				cacheResults : true
			}
		})
	;
</script>
{% endcapture %}

{% include live_demo.html %}
