---
layout  : example
title   : Item Validator with AJAX Item Manager
example : suggestionsitemvalidator itemvalidator itemmanagerajax itemmanager
id      : itemvalidator-with-ajax
---
{% include common.html %}

{% capture intro %}
This example shows how to limit user input using {{ SuggestionsItemValidator }} only to 
the list of items that is loaded from a remote end point with {{ AjaxItemManager }}.
The form data value will only update when the value you entered matches one on
the list.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
<script type="text/javascript">
/* data.json
{% include data.json %}
*/

	$('#demo_input')
		.textext({
			itemValidator : 'suggestions',
			itemManager   : 'ajax',
			ajax          : {
				url          : '/manual/examples/data.json',
				dataType     : 'json',
				cacheResults : true
			}
		});
</script>
{% endcapture %}

{% include live_demo.html %}
