---
layout  : example
title   : Example
link    : AJAX with Autocomplete
example : autocomplete itemmanager ajaxitemmanager
id      : ajaxitemmanager-with-autocomplete
---
{% include common.html %}

{% capture intro %}
This example shows how to use {{ AjaxItemManager }} with {{ Autocomplete }} to load autocomplete
suggestions from an external source.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
/* data.json
{% include data.json %}
*/

$('#demo_input')
    .textext({
        plugins     : 'autocomplete',
        itemManager : 'ajax',
        ajax        : {
            url          : 'data.json',
            dataType     : 'json',
            cacheResults : true
        }
    });
{% endcapture %}

{% include live_demo.html %}
