---
layout  : example
title   : AJAX Item Manager with Autocomplete and Custom Data
example : autocomplete itemmanager ajaxitemmanager customdata
id      : ajaxitemmanager-with-autocomplete-and-custom-data
---
{% include common.html %}

{% capture intro %}
This example show how to use {{ Autocomplete }} and {{ AjaxItemManager }} togethere
in order to load and use custom JSON format. Try typing name or id in the input box.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
<script type="text/javascript">
/* custom_data.json
{% include custom_data.json %}
*/

	var AjaxItemManager = $.fn.textext.AjaxItemManager;

	function CustomItemManager() {}

	CustomItemManager.prototype = $.extend({}, AjaxItemManager.prototype, {
		itemContains : function(item, needle)
		{
			return item.name.toLowerCase().indexOf(needle.toLowerCase()) === 0 || item.id == needle;
		},

		stringToItem : function(str, callback)
		{
			var data = this.data,
				i
				;

			if(data)
				for(i = 0; i < data.length; i++)
					if(data[i].name === str)
						return callback(null, data[i]);

			callback(null, '');
		},

		itemToString : function(item)
		{
			return item.name;
		},

		compareItems : function(item1, item2)
		{
			return item1.name === item2.name && item1.id === item2.id;
		},

		getItemsFromAjax : function(data)
		{
			return data.items;
		}
	});

	$('#demo_input')
		.textext({
			plugins     : 'autocomplete',
			itemManager : CustomItemManager,
			ajax        : {
				url          : '/manual/examples/custom_data.json',
				dataType     : 'json',
				cacheResults : true
			}
		});
</script>
{% endcapture %}

{% include live_demo.html %}
