---
layout  : example
title   : Example
link    : Autocomplete
example : autocomplete
id      : autocomplete
---
{% include common.html %}

{% capture intro %}
This example shows the most basic use of {{ Autocomplete }} plugin.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins     : 'autocomplete',
        suggestions : {{ suggestions }}
    });
{% endcapture %}

{% include live_demo.html %}
