---
layout  : example
title   : Tags with Custom Data Objects
example : tags itemmanager ajaxitemmanager ext
id      : tags-with-custom-data-objects
---
{% include common.html %}

{% capture intro %}
This example shows how to use {{ Tags }} plugin with {{ AjaxItemManager }} which loads custom AJAX data.
Note how the functions are overridden using the {{ ext }} option.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
<script type="text/javascript">
/* custom_data.json
{% include custom_data.json %}
*/
	$('#demo_input')
		.textext({
			plugins     : 'tags',
			itemManager : 'ajax',

			ajax : {
				url          : '/manual/examples/custom_data.json',
				dataType     : 'json',
				cacheResults : true
			},

			ext : {
				itemManager : {
					itemContains : function(item, needle)
					{
						return item.name.toLowerCase().indexOf(needle.toLowerCase()) === 0 || item.id == needle;
					},

					stringToItem : function(str, callback)
					{
						this.getSuggestions(str, function(err, items)
						{
							callback(null, items[0] || '');
						});
					},

					itemToString : function(item)
					{
						return item.name;
					},

					compareItems : function(item1, item2)
					{
						return item1.name === item2.name && item1.id === item2.id;
					},

					getItemsFromAjax : function(data)
					{
						return data.items;
					}
				},

				itemValidator : {
					isValid : function(item, callback)
					{
						callback(null, item && item.name.length > 0);
					}
				}
			}
		});
</script>
{% endcapture %}

{% include live_demo.html %}

