---
layout  : example
title   : Example
link    : Prompt from Placeholder Attribute and Tags
example : prompt tags
id      : prompt-from-placeholder-with-tags
---
{% include common.html %}

{% capture intro %}
This example shows how to display a simple user prompt in the input area
using the {{ Prompt }} plugin and how it can be integrated with the {{ Tags }}
plugin. The prompt value comes from the `placeholder` attribute in the 
`<input/>` tag.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input" placeholder="Type something..."/>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins : 'prompt'
    });
{% endcapture %}

{% include live_demo.html %}
