---
layout  : example
title   : Example
link    : Autocomplete with Tags
example : autocomplete tags
id      : autocomplete-with-tags
---
{% include common.html %}

{% capture intro %}
This example shows how to use {{ Autocomplete }} and {{ Tags }} plugins together.
{% endcapture %}

{% capture example_textarea %}
<input id="demo_input"/>
{% endcapture %}

{% capture example_script %}
$('#demo_input')
    .textext({
        plugins     : 'autocomplete > tags*',
        suggestions : {{ suggestions }}
    });
{% endcapture %}

{% include live_demo.html %}
