---
layout : manual
title  : Arrow
plugin : true
id     : arrow
---
{% doc_file textext.plugin.arrow.js %}
{% include common.html %}

{% capture about %}
	{% doc_desc TextExtArrow %}
{% endcapture %}

{% capture examples %}
<ul>
	{% for item in site.pages %}
		{% if item.example contains 'arrow' %}
			<li><a id="example-{{ item.id }}" href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
{% endcapture %}

{% capture options %}
	{% doc_desc TextExtArrow.options %}
	{% doc_opt TextExtArrow.options.html.arrow %}
{% endcapture %}

{% capture methods %}
	{% doc_method TextExtArrow.onArrowClick %}
{% endcapture %}

{% include api_doc.html %}

